<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="plant_sitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <plant_sitter.Properties.Settings>
            <setting name="Label1Text" serializeAs="String">
                <value>식물 이름</value>
            </setting>
            <setting name="Label2Text" serializeAs="String">
                <value>식물의 종</value>
            </setting>
            <setting name="Label3Text" serializeAs="String">
                <value>목표 습도</value>
            </setting>
            <setting name="Label4Text" serializeAs="String">
                <value>목표 온도</value>
            </setting>
            <setting name="Label5Text" serializeAs="String">
                <value>펌프 주기</value>
            </setting>
            <setting name="PlantImagePath" serializeAs="String">
                <value>(Default)</value>
            </setting>
        </plant_sitter.Properties.Settings>
    </userSettings>
</configuration>